/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: "Inter", Arial, sans-serif;
  background: #f5f7fa;
  color: #222;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin-bottom: 10px;
}
