/* HEADER */
.site-header {
  background: #fff;
  padding: 12px 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  margin-bottom: 20px;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
}

/* NAVIGATION */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

.navbar a {
  font-weight: 600;
  color: #333;
}

/* Mobile Fix */
@media (max-width: 480px) {
  .navbar ul {
    gap: 6px;
    font-size: 14px;
  }

  .logo {
    width: 100px;
  }
}




/* FOOTER */
.site-footer {
  background: #f3f4f6; /* soft grey background */
  padding: 25px 20px;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #e5e7eb;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

.site-footer p {
  margin-bottom: 8px;
  color: #050505; /* gray-700 */
  font-size: 15px;
}

.footer-links a {
  color: #2563eb; /* blue-600 */
  font-weight: 500;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #af531e; /* blue-800 */
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 480px) {
  .site-footer {
    padding: 20px 10px;
  }
  .footer-container p {
    font-size: 14px;
  }
}
